<link rel="stylesheet" type="text/css" href="~/Content/style.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="box" style="max-width:500px; position:absolute; left: 50%; top: 50%; transform:translate(-50%,-50%)">
	<h1>Search Cities</h1>
	<div>
		<div class="input">
			<input type="text" placeholder="Search City" name="city" id="city">
			<span class="spin"></span>
		</div>
		<div class="row	button login" style="border-radius:12px; height:auto; padding:5pt;">
			<button style="border-radius:12px;"><span>Add city</span> <i class="fa glyphicon-plus"></i></button>
		</div>
	</div>
	
</div>
